body {
  font-weight: 200;
  font-family: 'Roboto', sans-serif;
  margin-top: 100px;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.7)
  ),
  url(/images/index.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  margin: 0 auto;
  font-size: 70px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 4px;
}

h2,
h3 {
  font-weight: 400;
}

ul {
  list-style: none;
}

li {
  margin: 10px auto;
}

.navbar {
  background-color: rgb(206, 83, 89) !important;
  margin-bottom: 80px;
  height: 50px;
}

.slogan {
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0;
}

.index {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttons-box {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.index-btn {
  font-size: 20px;
  padding: 5px 25px;
}

.comic-info {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.list-name {
  margin: 0;
}

.list-add-box {
  width: 730px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#details-link {
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  color: black;
}

#add-comic {
  width: 40%;
  margin: 20px 0;
}

.comic-img-big {
  width: 600px;
}

.comic-img-small {
  width: 150px;
}

#errorMessage {
  background-color: rgb(255, 202, 202);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

#logoutMessage {
  background-color: rgb(115, 219, 94);
  width: 400px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  text-align: center;
  animation: showFromBottom 6s forwards;
}

@keyframes showFromBottom {
  0% {
    bottom: -50px;
  }

  10% {
    bottom: 10px;
  }

  90% {
    bottom: 10px;
  }

  100% {
    bottom: -50px;
  }
}
