<main>
    <h3>Añadir Review</h3>

    <form action="/reviews/review-create" method="POST">
        <label for="title">
            Review Title
            <input name="title" id="title" type="text">
        </label>
        </br>
    
        <label for="description">
            Description <textarea name="description" type="text"></textarea>
        </label>
        </br>
    
        <label for="rating">
            Rating <input name="rating" type="number">
        </label>
        </br>
    
        <label for="comic">
            Comic
            <select name="comic" class="form-control" id="comic">
                <option>Select</option>
                {{#each comics}}
                
                <option value="{{id}}">{{name}}</option>
                
                {{/each}}
            </select>
        </label>
    
        <button type="submit">Add review</button>
    </form>
</main>