<main class="container">
    <h2>Lista de Usuarios</h2>

    <ul>
        {{#each users}}
        <li>
            {{username}}
            <a href="/users/{{id}}">Ver perfil de usuario</a>
        </li>
        {{/each}}
    </ul>

    <a href="/">Volver a la Home</a>
</main>