<main class="container">
    <ul class="user-list">
        {{#each users}}
        <li>
            <div class="user-list-box">
                <img class="profile-img-small" src="{{profileImg}}" alt="Profile Image">
                <div class="user-list-box-body">
                    <p>Name: <span class="bold">{{name}}</span></p>
                    <p>Username: <span class="bold">{{username}}</span></p>
                    <a href="/users/{{id}}" class="btn btn-dark check-profile" type="button">Check user profile</a>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>

    <a href="/">Back to Homepage</a>
</main>