<main class="container">
    <h2>Lista de Usuarios</h2>

    <ul>
        {{#each users}}
        <li>
            {{username}}
            <a href="/users/{{id}}">Check user profile</a>
        </li>
        {{/each}}
    </ul>

    <a href="/">Back to Homepage</a>
</main>