<section class="container">
    <div class="operation searchbar">
        <label for="comic-name"></label>
        <input type="text" name="comic-name">
        <button id="search">Search</button>
    </div>

    <div>
        <ul class="comics-container">
        </ul>
    </div>
</section>