<section class="container">
    <div class="operation">
        <label for="comic-name">Search Comic: </label>
        <input type="text" name="comic-name">
        <button id="search">Search</button>
    </div>

    <div class="comics-container">
        <div class="comic-info">
            <img src="#" alt="Comic Image">
            <span class="name">Name</span>
            <div class="start-year">Start Year</div>
            <span class="count-of-issues">Count of Issues</div>
            <span class="publisher-name">Publisher</span>
        </div>
    </div>
</section>

{{!-- <script src="/js/index.js">

</script> --}}